@font-face {
  font-family: "Minecraft";
  src: local("Minecraft"),
   url("/fonts/Minecraft.ttf") format("truetype");
  font-weight: bold;
  }

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(1px + 0.5rem);
  color: white;
}

.minecraft-font {
  font-family: "Minecraft";
  font-size: 1.5rem;
  font-weight: bold;
  margin: 00.5rem;
}
